body{
  background-color: #000;
}

/* estilos navbar */
.logo1 {
  width: 90px;
  height: auto;
}

.navbar {
  background-color: #02152b;
}

.nav-item {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link {
  color: #99804e;
}

.nav-link:hover {
  color: #fdfcf9;
}

/* estilos banner */
.banner {
  background-color: #000;
  color: #fff;

  padding-bottom: 50px;
}

img {
  opacity: 0.5px;
}

.title-banner {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  margin-top: 250px;
}

.btn1 {
  background-color: #d4af37;
  color: #000;
  text-decoration: none;
  padding: 13px;
  border-radius: 6px;
  font-weight: bold;
}

.btn1:hover {
  background-color: #f6bd00;
}

.column-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.line {
  font-size: 25px;
  font-weight: bold;
  color: #d4af37;
}

.text-sm {
  font-size: 20px;
  font-weight: bold;
}

/* Card e info */

.card-info {
  display: flex;
}

.card-img1 {
  opacity: 0.3;
  border-radius: 10px;
}

.card-title1 {
  text-align: center;
  font-size: 28px;
}

.card-text1 {
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
  text-align: justify;
}

.card-text2 {
  font-weight: bold;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
}

/* formulario */
.formul {
  margin: 30px;
}

.masinfo {
  margin-bottom: 60px;
}

.title-infoempre {
  background: #02152b;
  color: #d4af37;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

/* styles cientes  */

.carrete-client {
  display: flex;
  justify-content: center;
}

#clientes1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  margin: 5%;
  grid-gap: 30px;
}

#clientes1 img {
  width: 100%;
  transition: all 300ms;
  position: relative;
}

#clientes1 img:hover {
  transform: scale(1.15);
}
.title-infoempre {
  background: #02152b;
  color: #d4af37;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

/* Styles carrusel */

.title_carrusel h1{
  color: #ffffff;
}


.img-wrapper {
  min-width: 100%;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
img {
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-width: 576px) {
  .carousel-inner{
    display: flex;
  }

  .carousel-item{
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
  .img-wrapper{
    height: 23vw;
  }
}
.carousel-inner{
  padding: 1em;
}
.card{
  margin: 0 0.5em;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26,.18);
}
.carousel-control-prev, .carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #e1e1e1;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
    opacity: .5;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    opacity: .8;
}


/* Styles foother */

.pie {
  width: 100%;
  height: 300px;
  background-color: #000a23;
}

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contenedor {
  display: flex;
  justify-content: center;
}
.Noticias {
  width: 20%;
  margin: 20px;
 
}
.Acerca {
  width: 10%;
  margin: 20px;

}
.Cont {
  width: 20%;
  margin: 20px;
 
}
.contacto{
  width: 20%;
  margin: 20px;
}

.item_1 {
  color: #ffffff;
  margin-top: 10px;
}
.img_cont {
  width: 20px;
  margin-right: 10px;
  filter: invert(80%);
}

.contenedor li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: lighter;
}
.btn_consulta {
  color: #99804e;
  text-decoration: underline;
}
.btn_consulta:hover{
  color: #d99d24;
}
.logo2{
  margin: 5px;
}
.logo2:hover{
  transform: scale(1.2);
  
}
.linea_footer{
  width: 80%;
  border-top: 2px solid  #99804e;
  margin: auto;
}
.text_footer{
  color: #ffff;
  text-align: center;
  margin-top: 10px;
  font-weight: lighter;
}